<% layout("/layouts/boilerplate")%>
<body>

    <h2>All LISTINGS</h2>
    <!-- <form   method="get"  action="/listings/new">

<button> create new listings</button>

    </form>
     -->

     
     <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      <%for (let listing of alllisting) {%>
        <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card col">
            <div class="img_container">
              <img src="<%= listing.image %>" height="250" class="card-img-top" alt="listing[image]">
            </div>
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text pt-1"><b>
                  <%= listing.title %>
                </b></p>
              <p class="card-text">
                <span>&#8377; <%= listing.price.toLocaleString("en-IN") %>/ night </span>
                <span class="gst fw-bold">&nbsp;&nbsp;+18% GST</span>
              </p>
            </div>
          </div>
        </a>
        <%}%>
 
    
</body>


